<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>

<body>
    <h1>The Most Functional Meal Planning App You'll Ever See</h1>
    <h3>You're welcome.</h3>
    <a href="/menu">Go To Meal Plan</a>
</body>

</html>