<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Meal</title>
</head>

<body>
    <h2>Add A Meal Here!</h2>
    <form action="/menu" method="POST">
        <label>Plan for: </label>
        <input type="date" name="date" id="date">
        <br />
        <label>Dish name: </label>
        <input type="text" name="dish" id="dish" placeholder="Enter dish name">
        <br />
        <label>When is this meal had? </label>
        <input type="text" name="timeOfDay" id="timeOfDay" placeholder="Example: Afternoon">
        <br />
        <label>How long will this take to make?</label>
        <input type="number" name="prepTime" id="prepTime"> mins
        <br />
        <label>Are you done making this? </label>
        <input type="checkbox" name="prepcomplete" id="prepcomplete">
        <br /><br />
        <button type="submit">Add Meal</button>
        <br /><br />
        <a href="/menu">Go Back To Meal Plan</a>
    </form>
</body>

</html>